html
  body.main
    .normal-screen
      .container.min-height(style='margin-top: 20px;')
        .row
          .col-xs-4.col-md-offset-8
            #card.login
              .front.signin_form
                p Register Product
                form.login-form(
                  (ngSubmit)="registerProduct()"
                )
                  .form-group
                    .input-group
                      input.form-control(
                        name='name',
                        type='text',
                        placeholder='Product name',
                        [(ngModel)]='product.name',
                        required
                      )
                      span.input-group-addon
                        i.glyphicon.glyphicon-user
                    .input-group
                      input.form-control(
                        name='category',
                        type='text',
                        placeholder='Category',
                        [(ngModel)]='product.category',
                        required
                      )
                      span.input-group-addon
                        i.glyphicon.glyphicon-user
                    .input-group
                      input.form-control(
                        name='unit-price',
                        type='number',
                        placeholder='Unit price',
                        [(ngModel)]='product.unitPrice',
                        required
                      )
                      span.input-group-addon
                        i.glyphicon.glyphicon-lock
                    .input-group
                      input.form-control(
                        name='unit-weight',
                        type='number',
                        placeholder='Unit weight',
                        [(ngModel)]='product.unitWeight',
                        required
                      )
                      span.input-group-addon
                        i.glyphicon.glyphicon-lock
                    .input-group
                      input.form-control(
                        name='lot-quantity',
                        type='number',
                        placeholder='Quantity per lot',
                        [(ngModel)]='product.quantityPerLot',
                        required
                      )
                      span.input-group-addon
                        i.glyphicon.glyphicon-envelope
                  .form-group.sign-btn
                    input.btn(
                      type="Submit",
                      value="Register Product"
                    )
                  a.sign-btn(
                    href="/"
                  ) Home
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jQuery-Flip/1.0.18/jquery.flip.js')
