div.container-fluid.text-center
  h2 SERVICES
  br
  div.row
    div.col-sm-4
        a(
            href="show-order"
        )
            span.glyphicon.glyphicon-list-alt
            h4 View Order
    div.col-sm-4
      a(
            href="register-order"
        )
            span.glyphicon.glyphicon-floppy-save
            h4 Register Order
    div.col-sm-4
      a(
        href="confirm-order"
      )
        span.glyphicon.glyphicon-check
        h4 Confirm Order
  hr
  div.row
    div.col-sm-4
      a(
        href="register-output-order"
      )
        span.glyphicon.glyphicon-check
        h4 Register output order
    div.col-sm-4
      a(
        href="warehouse"
      )
        span.glyphicon.glyphicon-tent
        h4 Warehouse Administration
