body

  .wrapper
    h1.pageTitle Order Information
    div.container

          legend
            h3.articleTitle Bill
          table
            tr
              td
                h3.pageSubtitle Subtotal:
              td
                label S/. {{bill.subtotal}}
            tr
              td
                h3.pageSubtitle IGV:
              td
                label {{bill.iva}} %
            tr
              td
                h3.pageSubtitle  Total:
              td
                label S/. {{bill.total}}

          legend
            h3.articleTitle Order
          table
            tr
              td
                h3.pageSubtitle Bulk Control:
              td
                label.switch
                  input(
                      type="checkbox",
                      [(ngModel)]='order.bulkControl',
                      [checked]='order.bulkControl'
                  )
                  div.slider.round
            tr
              td
                h3.pageSubtitle Arrival Date:
              td
                input(
                    type='date',
                    [(ngModel)]='temporalDate',
                    (change)='setDate()',
                    required
                  )
            tr
              td
                h3.pageSubtitle Detail:
              td
                table
                  tr
                      td
                        h4 Product name
                      td
                        h4 Lots

                  tr(*ngFor='let detail of detailList; let i = index')
                      td
                          select(
                              name='products',
                              [(ngModel)]='detailList[i].productId',
                              (change)="addProductToDetail()"
                            )
                            option(
                              value=""
                            ) Products
                            option(
                              *ngFor='let product of products',
                              [ngValue]='product.id',
                            ) {{product.name}} ({{product.quantityPerLot}}/lot)
                      td
                          input(
                              type='number',
                              [(ngModel)]='detailList[i].lotQuantity',
                              (change)="addProductToDetail()",
                              required
                            )
                      td
                        button((click)='deleteProduct(i)') Delete
                  button((click)='addProduct()') Add

          legend
            h3.articleTitle Remision guide
          table
              tr
                td
                  h3.pageSubtitle Reason:
                td
                  input(
                    type='text',
                    [(ngModel)]='guide.reason',
                    required
                  )
              tr
                td
                  h3.pageSubtitle Departure:
                td
                  input(
                    type='date',
                    [(ngModel)]='temporalDate2',
                    (change)="setDate2()",
                    required
                  )
              tr
                td
                  h3.pageSubtitle Arrival:
                td
                  input(
                    type='date',
                    [(ngModel)]='temporalDate3',
                    (change)="setDate3()",
                    required
                  )
              tr
                td
                  h3.pageSubtitle Addressee:
                td
                  input(
                    type='text',
                    [(ngModel)]='guide.addressee',
                    required
                  )
              tr
                td
                  h3.pageSubtitle Courier:
                td
                  input(
                    type='text',
                    [(ngModel)]='guide.transportCompany',
                    required
                  )
              tr
                td
                  h3.pageSubtitle Vehicle Plate:
                td
                  input(
                    type='text',
                    [(ngModel)]='guide.vehiclePlate',
                    required
                  )
              tr
                td
                  h3.pageSubtitle Total Weight:
                td
                  input(
                    type='number',
                    min='0.00',
                    step='0.01',
                    [(ngModel)]='guide.totalWeight',
                    disabled,
                    required
                  )
                  p kg

          button.button.btnPush.btnBlueGreen(
            (click)='submitForm()'
            ) Confirmar
